# Database connection string
DATABASE_URL=

# Sirv API (para subir imágenes)
SIRV_CLIENT_ID=
SIRV_CLIENT_SECRET=
SIRV_ACCOUNT=

# Admin Authentication
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_AUTH_SECRET=

NEXT_PUBLIC_WHATSAPP_NUMBER=
SITE_URL=
BRAND_NAME=
